{% extends "base.jinja" %}
{% block title %}Edinburgh Recycling Collection Calendars - Search{% endblock %}
{% block content %}
    <div class="search">
        <div class="container">
            <div class="page-header"><h1 class="h1">Search</h1></div>
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <label for="loc" class="sr-only">Street name</label>
                    <input id="loc" class="form-control" type="text" placeholder="Street name">
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="results">
                    <h1 id="locname"></h1>
                        <p id="links">(<a href='#' id="ical">ical</a>, <a href='#' id="pdf">pdf</a>)</p>
                        <ul class="list-group">
                            <li class="list-group-item">Your collection day is <span id="day" class="result"></span></li>
                            <div id="blue">
                            <li id="yesblue" class="list-group-item">Your blue bin will next be collected on <span id="blue-date" class="result"></span></li>
                            <li id="noblue" class="list-group-item">There is no blue bin collection at this address</li>
                            </div>
                            <div id="red">
                            <li id="yesred" class="list-group-item">Your red bin will next be collected on <span id="red-date" class="result"></span></p>
                            <li id="nored" class="list-group-item">There is no red bin collection at this address</p>
                            </div>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{{ super() }}
        <script src="{{ url_for('static', filename='filter.js') }}"></script>
{% endblock %}
